.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex: 1;
}

.container .container-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
}

.container .container-item .container-buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.count-selected {
  font-size: 12px;
  font-weight: bold;
}

.ag-row-pinned {
  font-weight: bold;
  font-style: italic;
}
